.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  margin: 0 auto;
  padding: 20px 20px;
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.logoIcon {
  width: 28px;
  height: 28px;
}

.logoText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #121417;
}

.nav {
  display: flex;
  gap: 28px;
}

.navLink {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
}

.navLink:hover {
  color: #f4c550;
}

.active {
  color: #f4c550;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.login_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  cursor: pointer;
}

.login_btn:hover {
  color: #f4c550;
}

.regist_btn {
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background: #121417;
  border-color: transparent;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  cursor: pointer;
}

.regist_btn:hover {
  background: #f4c550;
  border-color: transparent;
}
